{% extends "testapp/base.html" %}

{% block content %}
<div class="container" align='center'>
  <h3>Modify details</h3>
      <h4>{{ message }}</h4>
  <form style="margin-left:12.5%; margin-right:12.5%" method="POST" action="/newseditor/users/edit/update/{{ db_user_details.slno }}">
        {% csrf_token %}
          <b>{{ form }}</b>
    <button type="submit" class="btn btn-success" name="button">Save</button>
  </form>
</div>
<div>
    <table class="table table-dark" border="2" >
        <thead align="center">
            <tr>
              <th>slno</th>
              <th>User Name</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Action</th>
            </tr>
        </thead>
        <tbody align="center">
          {% for user in users_list %}
            <tr>
              <td>{{ user.slno }}</td>
              <td>{{ user.user_name }}</td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.cell_number }}</td>
              <td><a href="/newseditor/users/edit/{{ user.slno }}"><span class="glyphicon glyphicon-pencil">Edit</span></a></td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="6" class="text-center bg-warning">No News</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
</div>
{% endblock %}
